.flow > *:where(:not(:first-child)){
    margin-top: var(--flow-space,1.31rem);
}

.flow-medium > *:where(:not(:first-child)){
    margin-top: var(--flowMedium-space, 3.75rem);
}

.flow-large > *:where(:not(:first-child)){
    margin-top: var(--pageflow-space,min(5.19rem));
}

